.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1571px;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 760px;
  animation-duration: 3000ms;
  margin: 94px -23px 0 auto;
}

.u-section-1 .u-image-2 {
  width: 664px;
  height: 335px;
  margin: -661px auto 0 43px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-size: 0.875rem;
  letter-spacing: 0px;
  font-weight: 700;
  background-image: none;
  margin: 37px auto 0 171px;
  padding: 13px 146px 14px 145px;
}

.u-section-1 .u-image-3 {
  width: 297px;
  height: 81px;
  margin: -6px auto 0 110px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-size: 0.875rem;
  letter-spacing: 0px;
  font-weight: 700;
  background-image: none;
  margin: -71px auto 0 360px;
  padding: 13px 47px 14px 46px;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  font-size: 0.875rem;
  letter-spacing: 0px;
  font-weight: 700;
  background-image: none;
  text-transform: none;
  margin: 10px auto 0 169px;
  padding: 9px 146px 11px 145px;
}

.u-section-1 .u-image-4 {
  width: 896px;
  height: 597px;
  animation-duration: 1000ms;
  margin: 118px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-2 {
    width: 308px;
    height: 156px;
    margin-left: 134px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 240px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 510px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 160px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 347px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1454px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 79px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 131px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 345px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 183px;
  }

  .u-section-1 .u-image-4 {
    width: 720px;
    height: 480px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1231px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 720px;
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    margin-top: -621px;
    margin-left: 18px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 36px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 197px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 125px;
  }

  .u-section-1 .u-image-4 {
    width: 540px;
    height: 360px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 730px;
  }

  .u-section-1 .u-image-1 {
    height: 517px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-2 {
    width: 347px;
    height: 175px;
    margin-top: -354px;
    margin-left: -4px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: auto;
  }

  .u-section-1 .u-image-3 {
    margin-left: 22px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 77px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-1 .u-image-4 {
    width: 340px;
    height: 227px;
    margin-bottom: 0;
  }
}