.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1366px;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 760px;
  animation-duration: 3000ms;
  margin: 129px auto 0;
}

.u-section-1 .u-image-2 {
  width: 570px;
  height: 287px;
  margin: 0 auto;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-size: 0.875rem;
  letter-spacing: 0px;
  font-weight: 700;
  background-image: none;
  margin: 10px auto 0 340px;
  padding: 13px 47px 14px 46px;
}

.u-section-1 .u-image-3 {
  width: 297px;
  height: 81px;
  margin: -71px auto 0 503px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-size: 0.875rem;
  letter-spacing: 0px;
  font-weight: 700;
  background-image: none;
  text-transform: none;
  margin: 10px auto 44px 340px;
  padding: 9px 146px 11px 145px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-left: 240px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 403px;
  }

  .u-section-1 .u-btn-2 {
    margin-bottom: 45px;
    margin-left: 240px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-1 {
    margin-left: 131px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 293px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 131px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1311px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 720px;
  }

  .u-section-1 .u-image-2 {
    width: 540px;
    height: 272px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 36px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 179px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 66px;
    margin-bottom: 0;
    margin-left: 107px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1121px;
  }

  .u-section-1 .u-image-1 {
    width: 440px;
    height: 547px;
    margin-top: 35px;
    margin-left: -50px;
    margin-right: -50px;
  }

  .u-section-1 .u-image-2 {
    width: 421px;
    height: 223px;
    margin-left: -41px;
    margin-right: -41px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 77px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 10px;
    margin-left: 22px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 10px;
    margin-bottom: 60px;
    margin-left: 77px;
    padding-right: 40px;
    padding-left: 40px;
  }
}