.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1004px;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 760px;
  animation-duration: 3000ms;
  margin: 94px -23px 0 auto;
}

.u-section-1 .u-image-2 {
  width: 664px;
  height: 335px;
  margin: -588px auto 0 10px;
}

.u-section-1 .u-image-3 {
  width: 297px;
  height: 81px;
  margin: 0 auto 0 90px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-size: 0.875rem;
  letter-spacing: 0px;
  font-weight: 700;
  background-image: none;
  text-transform: none;
  margin: -74px auto 60px 344px;
  padding: 16px 55px 17px 54px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    width: 386px;
    height: 511px;
    margin-top: 103px;
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    width: 421px;
    height: 220px;
    margin-top: -401px;
    margin-left: 94px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 257px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 94px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1454px;
  }

  .u-section-1 .u-image-1 {
    height: 512px;
    margin-top: 102px;
    margin-right: -26px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 28px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 183px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 21px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1231px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 20px;
    margin-right: -26px;
    margin-left: auto;
  }

  .u-section-1 .u-image-3 {
    margin-left: 158px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 86px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1074px;
  }

  .u-section-1 .u-image-1 {
    height: 517px;
    margin-top: 72px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-2 {
    width: 347px;
    height: 175px;
    margin-top: 21px;
    margin-right: 0;
    margin-left: -4px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 88px;
    margin-left: 22px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -148px;
    margin-left: 79px;
    padding-left: 40px;
    padding-right: 40px;
  }
}