.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1833px;
}

.u-section-1 .u-image-1 {
  width: 408px;
  height: 122px;
  margin: 612px auto 0 0;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-weight: 500;
  margin: -620px auto 0 13px;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  font-weight: 300;
  margin: 13px 570px 0 13px;
}

.u-section-1 .u-image-2 {
  width: 315px;
  height: 620px;
  margin: -425px auto 0 805px;
}

.u-section-1 .u-text-3 {
  font-size: 3rem;
  font-weight: 500;
  margin: 215px auto 0 347px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-size: 0.875rem;
  letter-spacing: 0px;
  background-image: none;
  font-weight: 700;
  font-family: Inter;
  margin: 55px auto 0 577px;
  padding: 13px 65px 14px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-size: 0.875rem;
  letter-spacing: 0px;
  background-image: none;
  font-weight: 700;
  font-family: Inter;
  margin: -61px auto 0 329px;
  padding: 13px 66px 14px 64px;
}

.u-section-1 .u-image-3 {
  width: 570px;
  height: 283px;
  margin: 215px auto 0 285px;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  font-size: 0.875rem;
  letter-spacing: 0px;
  background-image: none;
  font-weight: 700;
  font-family: Inter;
  margin: 40px auto 60px 495px;
  padding: 13px 47px 14px 46px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    margin-top: 1111px;
    margin-left: 20px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -1015px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 11px;
    margin-right: 483px;
    margin-left: 100px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -448px;
    margin-left: 565px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -188px;
    margin-left: 305px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -9px;
    margin-left: 436px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 1px;
    margin-left: 188px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 82px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 64px;
    margin-left: 444px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    margin-top: 10485px;
    margin-left: 130px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -10414px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 0;
    margin-right: 555px;
    margin-left: 210px;
  }

  .u-section-1 .u-image-2 {
    width: 265px;
    height: 501px;
    margin-top: -471px;
    margin-left: 271px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -264px;
    margin-left: 205px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -85px;
    margin-left: 225px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 68px;
  }

  .u-section-1 .u-image-3 {
    width: 463px;
    height: 230px;
    margin-top: 112px;
    margin-left: 339px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 87px;
    margin-bottom: 0;
    margin-left: 420px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1818px;
  }

  .u-section-1 .u-image-1 {
    width: 570px;
    margin-top: 11205px;
    margin-left: 220px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -11094px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 20px;
    margin-right: 465px;
    margin-left: 300px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 180px;
    margin-left: -125px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -331px;
    margin-left: 70px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 23px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 23px;
  }

  .u-section-1 .u-image-3 {
    margin-right: 152px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-left: -26px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2182px;
  }

  .u-section-1 .u-image-1 {
    height: 102px;
    margin-top: 1063px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-top: -1042px;
    margin-left: -19px;
    margin-right: -19px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
    margin-top: 11px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    width: 213px;
    height: 438px;
    margin-top: 70px;
    margin-left: 64px;
  }

  .u-section-1 .u-text-3 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 290px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 25px;
    margin-left: 56px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 0;
    margin-left: 56px;
  }

  .u-section-1 .u-image-3 {
    height: 169px;
    margin-top: 123px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 44px;
    margin-left: auto;
    margin-bottom: 60px;
  }
}