.u-section-1 {
  background-image: url("images/Artbodgkndskjgnard1.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 791px;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 417px;
  animation-duration: 1000ms;
  margin: 154px auto 0;
}

.u-section-1 .u-image-2 {
  width: 242px;
  height: 75px;
  animation-duration: 1000ms;
  margin: 88px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-2 {
    margin-top: 69px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 606px;
  }

  .u-section-1 .u-image-2 {
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 433px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 395px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 648px;
  }

  .u-section-1 .u-image-1 {
    height: 249px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 677px;
}

.u-section-2 .u-image-1 {
  width: 648px;
  height: 336px;
  object-position: 50% 0%;
  animation-duration: 1000ms;
  margin: 204px -39px 0 auto;
}

.u-section-2 .u-image-2 {
  width: 570px;
  height: 397px;
  margin: -375px auto 60px -39px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-image-1 {
    width: 495px;
    height: 342px;
    margin-top: 190px;
    margin-left: 470px;
  }

  .u-section-2 .u-image-2 {
    width: 496px;
    height: 346px;
    margin-top: -358px;
    margin-left: -25px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-image-1 {
    margin-left: 238px;
  }

  .u-section-2 .u-image-2 {
    margin-left: -12px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-image-1 {
    margin-right: 0;
    margin-left: 58px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 650px;
  }

  .u-section-2 .u-image-1 {
    height: 182px;
    margin-top: 111px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-2 {
    height: 237px;
    margin-top: 95px;
    margin-bottom: 25px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 789px;
}

.u-section-3 .u-image-1 {
  width: 548px;
  height: 503px;
  margin: 143px auto 0 570px;
}

.u-section-3 .u-image-2 {
  width: 430px;
  height: 523px;
  margin: -513px auto 60px 22px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-image-1 {
    width: 515px;
    height: 453px;
    margin-top: 168px;
    margin-left: 416px;
  }

  .u-section-3 .u-image-2 {
    width: 395px;
    height: 455px;
    margin-top: -454px;
    margin-left: 9px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 595px;
  }

  .u-section-3 .u-image-1 {
    width: 313px;
    height: 275px;
    margin-top: 182px;
    margin-left: 393px;
  }

  .u-section-3 .u-image-2 {
    width: 294px;
    height: 339px;
    margin-top: -307px;
    margin-left: 14px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 462px;
  }

  .u-section-3 .u-image-1 {
    width: 245px;
    height: 216px;
    margin-top: 60px;
    margin-left: 269px;
  }

  .u-section-3 .u-image-2 {
    width: 223px;
    height: 257px;
    margin-top: -236px;
    margin-bottom: 39px;
    margin-left: 27px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 861px;
  }

  .u-section-3 .u-image-1 {
    height: 280px;
    width: 318px;
    animation-duration: 1000ms;
    margin-top: 520px;
    margin-left: auto;
  }

  .u-section-3 .u-image-2 {
    height: 312px;
    animation-duration: 1000ms;
    width: 256px;
    margin-top: -631px;
    margin-left: auto;
    margin-bottom: 60px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 678px;
}

.u-section-4 .u-image-1 {
  width: 641px;
  height: 339px;
  margin: 81px auto 0;
}

.u-section-4 .u-image-2 {
  width: 281px;
  height: 96px;
  margin: 65px auto 60px;
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 625px;
  }

  .u-section-4 .u-image-1 {
    width: 540px;
    height: 286px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 519px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 180px;
  }

  .u-section-4 .u-image-2 {
    width: 170px;
    height: 57px;
    margin-top: 45px;
  }
}